body {
	overflow: hidden;
	user-select: none;
	color: #fff;
	font-family: Montserrat;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.center {
	position: absolute;
	top: 50%;
	background: #191c1f;
	left: 50%;
	width: 40vw;
	transform: translate(-50%,-50%);
	height: 25vw;
	border-radius: 1vw;
}
.left {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 1vw 0 0 1vw;
	background: #6b6bfa;
	width: 15vw;
	overflow: hidden;
	height: 25vw;
}
.pers {
	position: absolute;
	top: 26%;
	width: 10vw;
	left: 2.5vw;
	
}
.closed {
	position: absolute;
	top: 76%;
	width: 3vw;
	left: 26vw;
}
.closedtext {
	position: absolute;
	top: 79%;
	width: 1vw;
	left: 32vw;
	font-size: 1.5vh;
	height: 3vh;
	border-radius: 0.5vh;
	letter-spacing: 0.1vh;
	font-weight: 600;
	margin-bottom: 0.5vh;
	transition-property: border, color;
	transition-duration: 0.2s;
	justify-content: center;
	align-items: center;
	display: flex;
	transition-timing-function: linear, linear;
}
.name {
	position: absolute;
	top: 2vw;
	left: 17vw;
	font-size: 1.5vw;
	font-weight: 500;
	/* font-style: italic; */
}
.desc {
	position: absolute;
	top: 6vw;
	left: 17vw;
	width: 20vw;
	font-size: 0.8vw;
}
.desc2 {
	position: absolute;
	top: 7vw;
	left: 17vw;
	width: 20vw;
	font-size: 0.8vw;
}
.btnclose:hover {
	background: #6b6bfa;
}
.btnclose {
	position: absolute;
	top: 19vw;
	font-size: 0.8vw;
	left: 17vw;
	transition: background .8s;
	width: 6vw;
	text-align: center;
	line-height: 2.5vw;
	height: 2.5vw;
	border: 0.15vw solid #ffffff20;
	border-radius: 0.25vw;
}