body {
	overflow: hidden;
	user-select: none;
	color: #fff;
	font-family: Montserrat;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.center {
	position: absolute;
	top: 50%;
	zoom: 70%;
    background: linear-gradient(9.13deg, rgba(53, 48, 96, 0) -127.26%, #181A1A 93.1%),
linear-gradient(0deg, #353060, #353060);
	width: 23vw;
	height: 29vw;
	left: 50%;
    border-radius: 12px;
	transform: translate(-50%,-50%);
	-webkit-animation: fadeInFromNone linear 1.9s ease-out;
	-moz-animation: fadeInFromNone 1.9s ease-out;
	-o-animation: fadeInFromNone 1.9s ease-out;
	animation: fadeInFromNone 1.4s ease-out;
}
img {
	position: absolute;
	top: 0;
	left: 50%;
	width: 5vw;
	top: 3.9vw;
	transform: translate(-50%,0);
}
.btn {
	position: relative;
	width: 18vw;
	height: 4vw;
	background: #343442;
	border-radius: 10vw;
	margin-top: 1vw;
	font-size: 0.9vw;
	text-align: center;
	line-height: 3vw;
	font-weight: 500;
	top: 10vw;
	left: 50%;
    transition: .4s;
	transform: translate(-50%,0);
    border-radius: 75px;
    opacity: 0.9
}
.btn:hover {
	position: relative;
	width: 18vw;
	height: 4vw;
	background: #968FDA;
	border-radius: 10vw;
	margin-top: 1vw;
	font-size: 0.9vw;
	text-align: center;
	line-height: 3vw;
	font-weight: 500;
	top: 10vw;
	left: 50%;
    transition: .4s;
	transform: translate(-50%,0);
    border-radius: 75px;
     opacity: 0.9
}
b {
	position: absolute;
	left: 50%;
	text-align: center;
	transform: translate(-50%,0);
	font-size: 2.3vw;
	bottom: 3vw;
}
p {
	position: absolute;
	left: 50%;
	text-align: center;
	transform: translate(-50%,0);
	font-size: 1vw;
	bottom: 1.5vw;
	opacity: 0.6;
    top: 85%
}
@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes fadeInFromNoneSlide {
    0% {
        display: none;
        opacity: 0;
		margin-top: -1vw;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}