*,*::before,*::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    user-select: none;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    overflow:hidden;
}

#app{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    &::before{
        position: absolute;
        content: '';
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background: linear-gradient(90deg,rgba($color: #131A1B, $alpha: 0),rgba($color: #131A1B, $alpha: 0.95) 50%,rgba($color: #131A1B, $alpha: 0.95) 100%);
    }
}
.animation{
    position: absolute;
    width: 29.875vw;
    height: 100%;
    top: 0;
    right: 0;
}
.animation__navigation{
    position: absolute;
    width: 9.375vw;
    height: 50.625vw;
    right: 20.500vw;
    top: 50%;
    transform: translateY(-50%);
    &::before{
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        width: 0.125vw;
        height: 56.250vw;
        background: linear-gradient(rgba($color: #E5FFFF, $alpha: 0),rgba($color: #E5FFFF, $alpha: 0.1),rgba($color: #E5FFFF, $alpha: 0));
        transform: translateX(0.125vw);
    }
}
.navigation__paragraph{
    width: 100%;
    height: 4.688vw;
    margin-bottom: 1.875vw;
    background: linear-gradient(90deg,rgba($color: #131A1B, $alpha: 0),rgba($color: #131A1B, $alpha: 0.1));
    padding: 0.625vw;
    color: rgba($color: #E5FFFF, $alpha: 0.4);
    
    &:last-child{
        margin: 0;
    }
    &.active,&:hover{
        color: rgba($color: #E5FFFF, $alpha: 1.0);
        svg{
            fill: rgba($color: #E5FFFF, $alpha: 1.0);
        }
    }
    &.active{
        background: linear-gradient(90deg,rgba($color: #7E8F8F, $alpha: 0),rgba($color: #7E8F8F, $alpha: 0.15),rgba($color: #7E8F8F, $alpha: 0));
    }
    svg{
        fill: rgba($color: #E5FFFF, $alpha: 0.4);
    }
}
.paragraph__image{
    width: 100%;
    height: 2.250vw;
    margin-bottom:  0.250vw;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        width: 100%;
        height: 100%;
    }
}
.paragraph__text{
    width: 100%;
    height: 0.938vw;
    text-align: center;
    font-size: 0.750vw;
    line-height: 0.875vw;
    pointer-events: none;
}
.animation__main{
    position: absolute;
    width: 19.563vw;
    height: 52.125vw;
    right: 0.313vw;
    top: 50%;
    transform: translateY(-50%);
    color:rgba($color: #E5FFFF, $alpha: 1.0);
}
.main__header{
    width: 100%;
    height: 1.063vw;
    text-align: center;
    margin-bottom: 0.938vw;
    font-size: 0.875vw;
}
.main__list{
    width: 100%;
    height: 27.625vw;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 0.3125vw;
    margin-bottom: 1.875vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    &::-webkit-scrollbar {
        width: 0.125vw;
    }
    &::-webkit-scrollbar-track {
        background: rgba($color: #E5FFFF, $alpha: 0.07);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba($color: #2BD9D9, $alpha: 1.0);
    }
}
.main__cell{
    z-index: 999;
    width: 6vw;
    height: 6.438vw;
    margin-right: 0.563vw;
    margin-top: 0.625vw;
    svg{
        fill: rgba($color: #E5FFFF, $alpha: 0.4);
        display: block;
    }
    &:nth-child(3n){
        margin-right: 0;
    }
    &:nth-child(1),&:nth-child(2),&:nth-child(3){
        margin-top: 0;
    }
    &:hover,&.active{
        .cell__image{
            background-image: url('../img/border.svg');
            background-size: 100%;
        }
        .cell__image::after{
            pointer-events: none;
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(rgba($color: #2BD9D9, $alpha: 0.06),rgba($color: #2BD9D9, $alpha: 0) 50%);
        }
        svg{
            fill: rgba($color: #2BD9D9, $alpha: 1.0);
        }
    }
}
.cell__image{
    pointer-events: none;
    position: relative;
    width: 4.750vw;
    height: 4.750vw;
    margin: 0 auto 0.313vw auto;
    background: rgba($color: #131A1B, $alpha: 0.7);
    pointer-events: none;
    padding: 1.25vw;
    svg{
        width: 100%;
        height: 100%;
    }
}
.cell__text{
    pointer-events: none;
    width: 100%;
    height: 1.375vw;
    text-align: center;
}
.cell__title{
    font-weight: 600;
    font-size: 0.625vw;
    color: rgba($color: #E5FFFF, $alpha: 1.0);
    line-height: 0.750vw;
    pointer-events: none;
}
.cell__subtitle{
    font-size: 0.500vw;
    color: rgba($color: #E5FFFF, $alpha: 0.4);
    line-height: 0.606vw;
    pointer-events: none;
}
.quick__block{
    width: 100%;
    height: 18.938vw;
    margin-bottom: 0.625vw;
}
.quick__title{
    width: 100%;
    height: 1.063vw;
    text-align: center;
    font-size: 1.063vw;
    line-height: 1.063vw;
    margin-bottom: 0.313vw;
}
.quick__subtitle{
    width: 17.438vw;
    height: 2.813vw;
    font-size: 0.750vw;
    line-height: 0.938vw;
    margin: 0 auto 1.250vw auto;
    text-align: center;
    color: rgba($color: #E5FFFF, $alpha: 0.2);
}
.quick__menu{
    width: 100%;
    height: 13.500vw;
    display: flex;
    flex-wrap: wrap;
}
.menu__cell{
    position: relative;
    width: 6vw;
    height: 6.438vw;
    margin-right: 0.625vw;
    margin-top: 0.625vw;
    &:nth-child(3n){
        margin-right: 0;
    }
    &:nth-child(1),&:nth-child(2),&:nth-child(3){
        margin-top: 0;
    }
    z-index: 2;
}
.slot__number{
    position: absolute;
    width: 1.375vw;
    height: 1.375vw;
    right: 0.500vw;
    bottom: 0.125vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.125vw;
    font-style: italic;
    color: rgba($color: #E5FFFF, $alpha: 0.15);
}
.anim__slot{
    position: absolute;
    top: 0;
    left: 0.625vw;
    right: 0.625vw;
    height: 4.750vw;
    &.free{
        position: absolute;
        top: 0;
        left: 0.625vw;
        right: 0.625vw;
        height: 4.750vw;
        background: url('../img/border.svg');
        background-size: cover;
    }
    &.drag{
        background:rgba($color: #2BD9D9, $alpha: 0.05);
    }
    svg{
        fill: rgba($color: #E5FFFF, $alpha: 0.15);
    }
}




.cell__close{
    position: absolute;
    right: 0.313vw;
    top: 0.313vw;
    width: 0.5vw;
    height: 0.5vw;
    svg{
        pointer-events: none;
        display: block;
        width: 100%;
        height: 100%;
    }
    &:hover{
        svg{
            fill: rgba($color: #2BD9D9, $alpha: 1.0);
        }
    }
}





.help__footer{
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 0.750vw;
    color: rgba($color: #E5FFFF, $alpha: 0.2);
    span{
        font-style: normal;
        font-weight: 600;
        font-size: 0.875vw;
        color: rgba($color: #E5FFFF, $alpha: 0.4);
    }
}