<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="fonts/font/stylesheet.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet">
	<script src="./js/library/vue.js"></script>
</head>

<body>
	<div class="changeclothes">
		<div class="nameblock">
			<a>Division</a>
			<p>{{name}}</p>
		</div>
		<div class="items" v-if="menuid==''">
			<div class="block" @click="menuid='Майки'">
				<div class="text">T-Shirts</div>
			</div>
			<div class="block" @click="menuid='Маски'">
				<div class="text">Masken</div>
			</div>
			<div class="block" @click="menuid='Вверх'">
				<div class="text">Nach oben</div>
			</div>
			<div class="block" @click="menuid='Шапки'">
				<div class="text">Hüte</div>
			</div>
			<div class="block" @click="menuid='Очки'">
				<div class="text">Brillen</div>
			</div>
			<div class="block" @click="menuid='Штаны'">
				<div class="text">Hosen</div>
			</div>
			<div class="block" @click="menuid='Часы'">
				<div class="text">Uhr</div>
			</div>
			<div class="block" @click="clearPerson()">
				<div class="text">Ausziehen</div>
			</div>
		</div>
		<div class="items" v-else>
			<div v-for="item in items[menuid]" class="block" @click="setFracChange(item)">
				<div class="text">{{item}}</div>
			</div>
			<div class="block" @click="menuid=''">
				<div class="text">Zurück</div>
			</div>
		</div>
		<div @click="exit()" class="btn">
			ПОДТВЕРДИТЬ
		</div>
		<div class="btn2"></div>
	</div>
    <script src="./js/index.js"></script>
	<script src="./js/library/jquery-3.2.1.min.js"></script>
</body>
</html>