body {
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-family: Montserrat;
}
.job {
	-webkit-animation: fadeInFromNone 1s ease-out; -moz-animation: fadeInFromNone 1s ease-out; -o-animation: fadeInFromNone 1s ease-out; animation: fadeInFromNone 1s ease-out;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: radial-gradient(50% 90% at 50% 50%, rgba(23, 28, 28, 0) 0%, rgba(22, 21, 35, .90) 100%);
	background-color: rgba(22, 21, 35, .90);
}
.job .allblocks {
	position: absolute;
	top: 10vh;
	left: 10vh;
	width: 100vh;
	height: 60vh;
	/* background: #aaa; */
}
.job .allblocks .nameb {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vh;
	height: 20vh;
	/* background: #aaa; */
}
.job .allblocks .nameb .work {
	position: absolute;
	font-size: 6vh;
	font-weight: 700;
	color: #fff;
}
.job .allblocks .nameb .wsub {
	position: absolute;
	font-size: 6vh;
	font-weight: 300;
	color: #fff;
	top: 5vh;
}
.job .allblocks .nameb .wdesc {
	position: absolute;
	font-size: 2vh;
	font-weight: 400;
	color: #fff;
	top: 12vh;
	width: 58vh;
	opacity: 0.4;
}
.job .allblocks .nameb .wstart:hover {
	opacity: 1;
	transition: all 0.33s;
}
.job .allblocks .nameb .wstart {
	position: absolute;
	width: 20vh;
	opacity: 0.8;
	transition: all 0.33s;
	cursor: pointer;
	height: 4.5vh;
	border-radius: 0.5vh;
	background: #6b6bfa;
	left: 82vh;
	top: 6.3vh;
	color: #fff;
	font-size: 1.3vh;
	text-align: center;
	line-height: 4.5vh;
	font-weight: 600;
}
.job .allblocks .jobs {
	position: absolute;
	top: 22vh;
	left: -3vh;
	width: 65vh;
	height: 40vh;
	display: flex;
}
.job .allblocks .jobs .block:hover {
	/* transition-duration: 3ms; */
	transition: 0.33s;
	border-color: #ffffff30;
	background: #ffffff05;
}
.job .allblocks .jobs .block {
	position: relative;
	transition: all 0.33s;
	/* transition-duration: 3ms; */
	width: 28vh;
	margin-left: 3vh;
	border-radius: 0.5vh;
	height: 40vh;
	border: 0.4vh solid #ffffff20;
	left: 0;
	top: 0;
	/* background: #fff; */
}
.name {
	position: absolute;
	color: #fff;
	left: 2vh;
	top: 2vh;
	font-size: 2vh;
	font-weight: 600;
}
.desc {
	position: absolute;
	color: #fff;
	left: 2vh;
	top: 5vh;
	width: 22vh;
	opacity: 0.5;
	font-size: 1.4vh;
	font-weight: 400;
}
.treb1 {
	position: relative;
	width: 18vh;
	height: 3vh;
	top: 16vh;
	font-weight: 500;
	font-size: 1.2vh;
	border-radius: 0.5vh;
	text-align: left;
	padding-left: 2vh;
	line-height: 3vh;
	left: 2vh;
	margin-top: 1vh;
	color: #fff;
	border: 0.3vh solid #6b6bfa;
}
.start:hover {
	opacity: 1;
	transition: all 0.33s;
}
.start {
	position: absolute;
	cursor: pointer;
	left: 2vh;
	transition: all 0.33s;
	bottom: 2vh;
	width: 20vh;
	height: 5vh;
	font-size: 1.3vh;
	text-align: center;
	line-height: 5vh;
	font-weight: 600;
	border-radius: 0.5vh;
	opacity: 0.8;
	background: #6b6bfa;
	color: #fff;
	text-transform: uppercase;
}
.start2:hover {
	opacity: 1;
	transition: all 0.33s;
}
.start2 {
	position: absolute;
	cursor: pointer;
	left: 2vh;
	transition: all 0.33s;
	bottom: 2vh;
	width: 20vh;
	height: 5vh;
	font-size: 1.3vh;
	text-align: center;
	line-height: 5vh;
	font-weight: 600;
	border-radius: 0.5vh;
	opacity: 0.5;
	background: #6b6bfa;
	color: #fff;
	text-transform: uppercase;
}
.palma {
	position: absolute;
	width: 150vh;
	right: -70vh;
	top: -20vh;
}
.obl {
	position: absolute;
	left: -11vh;
	bottom: -12vh;
	width: 35vh;
	filter: blur(1vh);
}
.otr {
	position: absolute;
	right: -11vh;
	top: -18vh;
	width: 35vh;
	filter: blur(1vh);
}
.obr {
	position: absolute;
	right: -21vh;
	bottom: -22vh;
	width: 55vh;
	filter: blur(1vh);
}


@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}